@charset "utf-8";
@import "_mixin";
@font-face {
    font-family: aGothic;
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/a고딕/aGothic13.eot");
    src: url("../fonts/a고딕/aGothic13.eot#iefix") format("embeded-opentype"),
         url("../fonts/a고딕/aGothic13.woff2") format("woff2"),
         url("../fonts/a고딕/aGothic13.woff") format("woff"),
         url("../fonts/a고딕/aGothic13.ttf") format("truetype");
}
@font-face {
    font-family: aGothic;
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/a고딕/aGothic15.eot");
    src: url("../fonts/a고딕/aGothic15.eot#iefix") format("embeded-opentype"),
         url("../fonts/a고딕/aGothic15.woff2") format("woff2"),
         url("../fonts/a고딕/aGothic15.woff") format("woff"),
         url("../fonts/a고딕/aGothic15.ttf") format("truetype");
}
@font-face {
    font-family: aGothic;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/a고딕/aGothic17.eot");
    src: url("../fonts/a고딕/aGothic17.eot#iefix") format("embeded-opentype"),
         url("../fonts/a고딕/aGothic17.woff2") format("woff2"),
         url("../fonts/a고딕/aGothic17.woff") format("woff"),
         url("../fonts/a고딕/aGothic17.ttf") format("truetype");
}
@font-face {
    font-family: HvNenuBdOu;
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/HelveticaNeueLTStd-BdOu.eot");
    src: url("../fonts/HelveticaNeueLTStd-BdOu.eot#iefix") format("embedded-opentype"),
         url("../fonts/HelveticaNeueLTStd-BdOu.woff2") format("woff2"),
         url("../fonts/HelveticaNeueLTStd-BdOu.woff") format("woff"),
         url("../fonts/HelveticaNeueLTStd-BdOu.otf") format("opentype");

}
@font-face {
    font-family: HvNenuBlk;
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/HelveticaNeueLTStd-Blk.eot");
    src: url("../fonts/HelveticaNeueLTStd-Blk.eot#iefix") format("embedded-opentype"),
         url("../fonts/HelveticaNeueLTStd-Blk.woff2") format("woff2"),
         url("../fonts/HelveticaNeueLTStd-Blk.woff") format("woff"),
         url("../fonts/HelveticaNeueLTStd-Blk.otf") format("opentype");
}
@font-face {
    font-family: HvNenuBdExo;
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/HelveticaNeueLTStd-BdExO.eot");
    src: url("../fonts/HelveticaNeueLTStd-BdExO.eot#iefix") format("embedded-opentype"),
         url("../fonts/HelveticaNeueLTStd-BdExO.woff2") format("woff2"),
         url("../fonts/HelveticaNeueLTStd-BdExO.woff") format("woff"),
         url("../fonts/HelveticaNeueLTStd-BdExO.otf") format("opentype");
}
@font-face {
    font-family: HvNenuCnO;
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/HelveticaNeueLTStd-CnO.eot");
    src: url("../fonts/HelveticaNeueLTStd-CnO.eot#iefix") format("embedded-opentype"),
         url("../fonts/HelveticaNeueLTStd-CnO.woff2") format("woff2"),
         url("../fonts/HelveticaNeueLTStd-CnO.woff") format("woff"),
         url("../fonts/HelveticaNeueLTStd-CnO.otf") format("opentype");
}
/* 태그 초기화 */
body, ul, li, h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
ul {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;}
button {border: none;background: none;cursor: pointer;font-family: inherit;font-size: inherit;color: inherit;}
img {vertical-align: top; border: none;max-width: 100%;}
a:link, a:visited, a:hover, a:active {text-decoration: none; color: inherit;}
address{ font-style: normal;}
header, nav, section, footer {display: block;}

/* common class */
.p_r {position: relative;}
.p_a {position: absolute;}
.f_l {float: left;}
.f_r {float: right;}
.clearfix::after {content: ""; display: block; clear: both;}
.blind-b {width: 1px;height: 1px;overflow: hidden; border: none;clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);position: absolute;}
.font1 {font-family: aGothic;}
.font2 {font-family: Helvetica;}
.mt_50 {margin-top: 13.88888888888889vw;}

body {font-family: aGothic, 'segoe UI'; font-size: 5vw; font-weight: 500;/* cursor: url("../../cursor.cur"), pointer; */line-height: 5vw; word-break: keep-all;color: #333;text-align: center;}
#wrap {overflow: hidden;min-width: 320px;}

#header {
    @include transition(all 0.5s ease-in-out);
    position: fixed; top: 0; left: 0;width: 100%; height:13.88888888888889vw; z-indeX: 1000;
    &.load {top: 0;} //부모선택자를 &로 대신함
    &.bgchange {
        background: #fff;border-bottom: 1px solid #e5e5e5;
        #logo .st0 {fill: #000;}
        .shopping a .shop {fill:#000;}
        .btn_menu .line{background: #000;}
        
    }
}
.logo {
    a {display: block;height: 7.5vw;width:34.72222222222222vw;}
    &, a svg{position: absolute;}
    top: 2.777777777777778vw; left: calc(50% - 18.75vw);height: 7.5vw; width:34.72222222222222vw;
    a svg {top: 0; left: 0;fill: #fff;}

}
.shopping {
    position: absolute; top: 2.777777777777778vw; left: 4.166666666666667vw; 
    a svg {top: 0; left: 0;width: 7.777777777777778vw; height: 7.777777777777778vw;}
    &.bgchange {
        a svg .shop {fill: #000;}
    }
}
/* 햄버거 메뉴 */
.btn_menu {
    &, .line {position: absolute;}
    top: 3.472222222222222vw; right: 3.75vw; width: 8.055555555555556vw; height: 6.666666666666667vw; overflow: hidden; z-index: 1100;
    .line {
        @include radius(8px);
        @include transition(all 0.5s);
        width: 100%; height: 0.8333333333333333vw; background: #fff; left: 0;
    }
    .top{top: 0;}
    .mid{top: 2.777777777777778vw;}
    .btm{top: 5.555555555555556vw;}
    &.active {
        .line {background: #000 !important;}
        .top {
            @include transform(45deg);
            top: 2.777777777777778vw;
        }
        .mid {left: 100%;}
        .btm {
            @include transform(-45deg);
            top: 2.777777777777778vw;
        }
    }
}
/* 네비게이션 */
#gnb {
    display: none; position: fixed; top: 0; left: 100%; right: 0; bottom: 0; background: #fff; color: #000;overflow-y: auto;text-align: left;}
#gnb > ul {padding: 15.55555555555556vw 0;font-weight: 800;}
#gnb ul li a {display: block; height: 9.722222222222222vw; line-height: 9.722222222222222vw;}
#gnb > ul > li > a {position: relative; font-size: 12.5vw;padding: 4.166666666666667vw 6.944444444444444vw;}
/* 가상요소 */
#gnb > ul > li:not(.gnb1) >a::before, #gnb > ul> li:not(.gnb1) >a::after {
    @include transition(transform(0.3s));
    content:""; position: absolute; top: 50%; right: 11.11111111111111vw; width: 3.333333333333333vw; height: 0.5555555555555556vw; background: #000000;}
#gnb > ul > li > a::after {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
#gnb > ul > li.on > a::after {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
#gnb ul li ul {display: none; font-weight: 400;font-size: 6.111111111111111vw;color: #8B8B8B;}
#gnb ul li ul li a {padding: 0.8333333333333333vw 22.22222222222222vw;}

//공통 본문
#content {padding-bottom: 22.22222222222222vw;}

.fade {
    @include transition(all 1s);
    opacity: 0;
    //수직은 translateY => 기준 아래는 +, 기준 위는 -
    &.up {@include transform(translateY(13.88888888888889vw));}
    &.down{@include transform(translateY(-13.88888888888889vw));}
    //수평은 translateX => 기준 오른쪽 +, 기준 왼쪽-
    &.left {@include transform(translateX(13.88888888888889vw));}
    &.right{@include transform(translateX(-13.88888888888889vw));}
    //커지기
    &.smaller {@include transform(scale(1.5));}
    &.bigger {@include transform(scale(0.7));}
}
.fade.on {
    opacity: 1;
    &.up, &.down {@include transform(translateY(0px));}
    &.left, &.right{@include transform(translateX(0px));}
    &.smaller, &.bigger {@include transform(scale(1));}
}

// Top버튼
#btnTop {
    @include transition(opacity 0.3s);
    @include radius(2px);
    position: fixed; font-size: 2.777777777777778vw; border: 1px solid rgb(121, 121, 121);width: 10.888889vw; height: 12.277778vw;right: 5.555555555555556vw; bottom: 13.88888888888889vw; text-align: top;line-height: 12.277778vw;background: #fff;color: #000;opacity: 0;z-index: 1300;}
#btnTop.active {opacity: 1;}

// Footer
#footer {
    @include border-box;
    background: #000; height: 122.2222222222222vw; color: #fff; padding: 18.88888888888889vw 10.55555555555556vw 11.66666666666667vw;text-align: left;font-size: 3.888888888888889vw;
    svg {width: 8.333333333333333vw;height: 8.333333333333333vw;}
    .legal a, .cs p  {font-size: 3.333333333333333vw;font-weight: 300;}
    strong {margin-bottom: 2.222222222222222vw;} 
    .legal {
        float: left;height: 19.44444444444444vw;width: 23.33333333333333vw;
        a {display: block;height: 3.333333333333333vw;width: 36.38888888888889vw;}
        a + a {padding-top: 1.666666666666667vw;}
        a:last-child {padding-bottom: 15.27777777777778vw;}
    }
    .social { 
        float: right; width: 28.33333333333333vw; height: 13.88888888888889vw; 
        strong {display: block;}
        a img{width: 8.333333333333333vw;height: 8.333333333333333vw;}
    }
    .cs {
        display: block; width: 36.38888888888889vw; height: 13.88888888888889vw;clear: both;padding-top: 17.5vw;padding-bottom: 13.05555555555556vw;
    }
    .address {
        line-height: 4.166666666666667vw; font-size: 2.638888888888889vw; 
        address, span {color: #666; }
    }
}