@charset "UTF-8";
.top_visual {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .top_visual::before {
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center; }
  .top_visual.on::before {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .top_visual .txtwrap {
    position: relative;
    text-align: left;
    color: #fff; }
    .top_visual .txtwrap > * {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0; }
  .top_visual.on .txtwrap > * {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }

.main_visual {
  min-height: 600px; }
  .main_visual::before {
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    background-image: url("../img/main/bg1_1x.png"); }
  .main_visual .txtwrap {
    left: -20.5%;
    top: -7.8125vh;
    /* .go_btm {
        position: absolute; bottom: 50px; left: 50%;
        @include radius(8px);
        @include transition(all 0.3s);
        @include traDelay (0.5s);
        /* width: 100%;height: 4px;background: #fff;left: 0;
        .line-left {width: 5px;height: 2px;}
        .line-right {width: 5px;height: 2px;}
        &.active {
            .go_btm {background: #000;}
            .line_left {
                @include transform(rotate (45deg));
            }
            .line-right {@include transform(rotate (-45deg));}
        }
    } */ }
    .main_visual .txtwrap strong {
      font-size: 6.666666666666667vw;
      line-height: 4.84375vh;
      font-weight: 500; }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main_visual::before {
    background-image: url("../img/main/bg1_2x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .main_visual::before {
    background-image: url("../img/main/bg1_3x.png"); } }
.brandStory {
  min-height: 700px;
  position: relative;
  text-align: center;
  background: #000;
  color: #fff; }
  .brandStory .txtwrap {
    position: absolute;
    left: calc(50% - 119px);
    top: 200px; }
    .brandStory .txtwrap h3 {
      font-size: 22px;
      font-weight: 500;
      line-height: 29px; }
    .brandStory .txtwrap p {
      font-size: 16px;
      font-weight: 300;
      line-height: 25px;
      padding: 55px 0 50px; }
    .brandStory .txtwrap .brandBtn {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: inline-block;
      font-weight: 500;
      top: 10px;
      width: 190px;
      height: 44px;
      line-height: 44px;
      border: 1px solid #fff; }
      .brandStory .txtwrap .brandBtn:hover, .brandStory .txtwrap .brandBtn:active {
        background-color: #1C98D6;
        color: #000;
        border-color: #1C98D6; }

.bestItem {
  min-height: 600px;
  margin-top: 80px; }
  .bestItem > h3 {
    font-family: HvNenuBlk;
    font-size: 6.111111111111111vw;
    line-height: 7.222222222222222vw; }
  .bestItem > .swiper-container {
    height: 463px;
    margin: 0 -15px;
    background-color: #E2E2E2; }
    .bestItem > .swiper-container > .swiper-wrapper {
      margin: 0 auto; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide {
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        width: 80%;
        /* display: table; */
        /* > img {display: table-cell;vertical-align: middle;} */ }
        .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > img {
          width: 73.61111111111111vw;
          padding-top: 9.375vh; }
        .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > p {
          font-size: 14px;
          padding: 7px 0 0; }
        .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > p + p {
          margin-bottom: 15px; }
        .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > a {
          font-family: Helvetica;
          color: #1C98D6 !important;
          font-weight: 400; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide-prev, .bestItem > .swiper-container > .swiper-wrapper .swiper-slide-next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.7; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide-prev {
        transform-origin: right center; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide-next {
        transform-origin: left center; }

/* 
 */
.category {
  position: relative;
  min-height: 600px;
  font-family: HvNenuBlk;
  font-size: 6.111111111111111vw;
  text-align: left;
  line-height: 17px; }
  .category > h3 {
    padding: 0 0 31.5px 23px; }
  .category .swiper-slide {
    position: relative;
    height: 405px;
    width: 255px;
    margin: 0 60px 0 35px; }
    .category .swiper-slide > h4 {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      position: absolute;
      font-family: HvNenuBdExo;
      font-size: 54px;
      line-height: 58px;
      color: #000;
      top: 120px;
      left: 58px; }
    .category .swiper-slide > img {
      /* @include transition 회전 효과*/
      -webkit-transition: all 1.5s;
      -moz-transition: all 1.5s;
      -o-transition: all 1.5s;
      transition: all 1.5s;
      position: absolute;
      width: 374px;
      height: 374px;
      top: 82px;
      left: -74px; }
      .category .swiper-slide > img:hover, .category .swiper-slide > img:focus {
        /* @include transform(rotate(360deg)); */
        -webkit-transform: scale(0.8) rotateZ(360deg);
        transform: scale(0.8) rotateZ(360deg); }
  .category .swiper-slide:nth-child(1) {
    background-color: #1EFE69; }
  .category .swiper-slide:nth-child(2) {
    background-color: #BC00FF; }
  .category .swiper-slide:nth-child(3) {
    background-color: #0D5743; }
  .category .swiper-slide:nth-child(4) {
    background-color: #3787D6; }
  .category .swiper-slide:nth-child(5) {
    background-color: #FF5700; }
  .category .swiper-slide:nth-child(6) {
    background-color: #E3FF24; }
  .category .swiper-button-prev,
  .category .swiper-button-next {
    display: none; }
  .category .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 140px;
    width: 100%; }

.lookbook {
  min-height: 600px;
  background: #050505;
  color: #fff;
  font-family: HvNenuBdOu;
  font-size: 27px;
  line-height: 34px; }
  .lookbook h3 {
    padding: 20px 0 10.5px; }
  .lookbook .swiper-slide {
    position: relative;
    height: 468px;
    width: 360px; }
    .lookbook .swiper-slide button .lk_btn1 {
      position: absolute;
      top: 237.5px;
      left: 112px; }
  .lookbook .swiper-slide:nth-child(1) {
    background-image: url("../img/main/lookbook_1_1x.png"); }
  .lookbook .swiper-slide:nth-child(2) {
    background-image: url("../img/main/lookbook_2_1x.png"); }
  .lookbook .swiper-slide:nth-child(3) {
    background-image: url("../img/main/lookbook_3_1x.png"); }
  .lookbook .swiper-slide:nth-child(4) {
    background-image: url("../img/main/lookbook_4_1x.png"); }
  .lookbook .swiper-scrollbar {
    position: static;
    height: 3px;
    width: 100%;
    z-index: 1500; }
    .lookbook .swiper-scrollbar .swiper-scrollbar-drag {
      height: 10px;
      background: #1C98D6;
      top: -2px; }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  ::before {
    background-image: url("../img/main/lookbook_1_2x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  ::before {
    background-image: url("../img/main/lookbook_1_3x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  ::before {
    background-image: url("../img/main/lookbook_2_2x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  ::before {
    background-image: url("../img/main/lookbook_2_3x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  ::before {
    background-image: url("../img/main/lookbook_3_2x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  ::before {
    background-image: url("../img/main/lookbook_3_3x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  ::before {
    background-image: url("../img/main/lookbook_4_2x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  ::before {
    background-image: url("../img/main/lookbook_4_3x.png"); } }
.main_banner {
  min-height: 600px;
  text-align: left; }

/*# sourceMappingURL=main.css.map */
