@charset "UTF-8";
.top_visual {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .top_visual::before {
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center; }
  .top_visual.on::before {
    -webkit-transform: scale(1);
    transform: scale(1); }
  .top_visual .txtwrap {
    position: relative;
    text-align: left;
    color: #fff; }
    .top_visual .txtwrap > * {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0; }
  .top_visual.on .txtwrap > * {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }

.main_visual {
  min-height: 166.6666666666667vw;
  position: relative; }
  .main_visual::before {
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    background-image: url("../img/main/bg1_1x.png"); }
  .main_visual .txtwrap {
    left: -20.777778vw;
    top: -17.777778vw; }
    .main_visual .txtwrap strong {
      font-size: 6.666666666666667vw;
      line-height: 1.3;
      font-weight: 500; }
  .main_visual .scrollBtn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 27.77777777777778vw;
    left: calc(50% - 4.166666666666667vw);
    border: 0.5555555555555556vw solid #fff;
    width: 8.333333333333333vw;
    height: 13.88888888888889vw; }
    .main_visual .scrollBtn::before {
      -webkit-animation: scrollBtn 2s infinite;
      animation: scrollBtn 2s infinite;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      content: "";
      position: absolute;
      top: 2.777777777777778vw;
      left: 50%;
      width: 1.666666666666667vw;
      height: 1.666666666666667vw;
      margin-left: -0.8333333333333333vw;
      background-color: #fff; }
@-webkit-keyframes scrollBtn {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes scrollBtn {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main_visual::before {
    background-image: url("../img/main/bg1_2x.png"); }

  .lk_btn1::before {
    background-image: url("../img/main/lookbook_1_2x.png"); }

  .lk_btn2::before {
    background-image: url("../img/main/lookbook_2_2x.png"); }

  .lk_btn3::before {
    background-image: url("../img/main/lookbook_3_2x.png"); }

  .lk_btn4::before {
    background-image: url("../img/main/lookbook_4_2x.png"); }

  .about_visual::before {
    background-image: url("../img/about/bg1_2x.png"); }

  .subtitle::before {
    background-image: url("../img/products/title_1_2x.png"); } }
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .main_visual::before {
    background-image: url("../img/main/bg1_3x.png"); }

  .lk_btn1::before {
    background-image: url("../img/main/lookbook_1_3x.png"); }

  .lk_btn2::before {
    background-image: url("../img/main/lookbook_2_3x.png"); }

  .lk_btn3::before {
    background-image: url("../img/main/lookbook_3_3x.png"); }

  .lk_btn4::before {
    background-image: url("../img/main/lookbook_4_3x.png"); }

  .about_visual::before {
    background-image: url("../img/about/bg1_3x.png"); }

  .subtitle::before {
    background-image: url("../img/products/title_1_3x.png"); } }
.brandStory {
  min-height: 225.5555555555556vw;
  position: relative;
  text-align: center;
  background: #000;
  color: #fff;
  overflow: hidden; }
  .brandStory::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); }
  .brandStory .marqueeWrap, .brandStory .txtwrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75vw; }
  .brandStory .marqueeWrap {
    -webkit-transform: translate(-50%, -50%) rotate(-8deg);
    transform: translate(-50%, -50%) rotate(-8deg);
    -webkit-transition: opacity 1s 3s;
    -moz-transition: opacity 1s 3s;
    -o-transition: opacity 1s 3s;
    transition: opacity 1s 3s;
    width: 1000%; }
    .brandStory .marqueeWrap > div:nth-child(2) {
      padding-left: 13.88888888888889vw; }
    .brandStory .marqueeWrap .marquee {
      -webkit-animation: scrollMarquee 7s linear infinite;
      animation: scrollMarquee 7s linear infinite;
      position: relative;
      display: inline-block;
      line-height: 110px;
      font-size: 122px;
      font-family: HvNenuBlk;
      text-align: left; }
      .brandStory .marqueeWrap .marquee .color {
        -webkit-transition: opacity 1s 2s;
        -moz-transition: opacity 1s 2s;
        -o-transition: opacity 1s 2s;
        transition: opacity 1s 2s;
        position: absolute;
        color: #1C98D6;
        left: -1.944444444444444vw;
        top: -1.944444444444444vw;
        opacity: 0; }
  .brandStory .txtwrap {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 1s 3s;
    -moz-transition: opacity 1s 3s;
    -o-transition: opacity 1s 3s;
    transition: opacity 1s 3s;
    opacity: 0; }
    .brandStory .txtwrap h3 {
      font-size: 6.111111111111111vw;
      font-weight: 500;
      line-height: 1.32; }
    .brandStory .txtwrap p {
      font-size: 4.444444444444444vw;
      font-weight: 300;
      line-height: 1.56;
      padding: 15.27777777777778vw 0 13.88888888888889vw; }
    .brandStory .txtwrap .brandBtn {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: inline-block;
      font-weight: 500;
      top: 2.777777777777778vw;
      width: 52.77777777777778vw;
      height: 12.22222222222222vw;
      line-height: 12.22222222222222vw;
      border: 0.2777777777777778vw solid #fff; }
      .brandStory .txtwrap .brandBtn:hover, .brandStory .txtwrap .brandBtn:active {
        background-color: #1C98D6;
        color: #000;
        border-color: #1C98D6; }

.brandStory.on .marqueeWrap {
  opacity: 0.3; }
  .brandStory.on .marqueeWrap .marquee .color {
    opacity: 1; }
.brandStory.on .txtwrap {
  opacity: 1; }

@-webkit-keyframes scrollMarquee {
  100% {
    transform: translateX(-100%); } }
@-o-keyframes scrollMarquee {
  100% {
    transform: translateX(-100%); } }
@keyframes scrollMarquee {
  100% {
    transform: translateX(-100%); } }
.bestItem {
  min-height: 166.6666666666667vw;
  margin-top: 22.22222222222222vw; }
  .bestItem > h3 {
    font-family: HvNenuBlk;
    font-size: 6.111111111111111vw;
    line-height: 7.222222222222222vw;
    padding-bottom: 3.277777777777778vw; }
  .bestItem > .swiper-container {
    height: 128.6111111111111vw;
    margin: 0 -4.166666666666667vw;
    background-color: #E2E2E2; }
    .bestItem > .swiper-container > .swiper-wrapper {
      margin: 0 auto; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > img {
        padding-top: 24.38888888888889vw;
        cursor: pointer;
        width: 73.61111111111111vw; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > p {
        font-size: 3.888888888888889vw;
        padding: 1.944444444444444vw 0 0;
        cursor: pointer; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > p + p {
        margin-bottom: 4.166666666666667vw; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide > a {
        cursor: pointer;
        font-family: Helvetica;
        color: #1C98D6 !important;
        font-weight: 400;
        font-size: 3.888888888888889vw; }
      .bestItem > .swiper-container > .swiper-wrapper > .swiper-slide-prev, .bestItem > .swiper-container > .swiper-wrapper .swiper-slide-next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.7; }
    .bestItem > .swiper-container .swiper-button-next {
      right: 5.555555555555556vw; }
    .bestItem > .swiper-container .swiper-button-prev {
      left: 5.555555555555556vw; }

/* 
 */
.category {
  position: relative;
  min-height: 166.6666666666667vw;
  font-family: HvNenuBlk;
  font-size: 6.111111111111111vw;
  text-align: left;
  line-height: 0.77; }
  .category > h3 {
    padding: 0 0 8.75vw 6.388888888888889vw; }
  .category .swiper-container {
    padding-bottom: 19.44444444444444vw; }
  .category .swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 70.83333333333333vw;
    padding: 5.555555555555556vw 10.333333vw; }
    .category .swiper-slide .categoryWrap h4 {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      position: absolute;
      font-family: HvNenuBdExo;
      font-size: 15vw;
      line-height: 1.074;
      color: #000; }
    .category .swiper-slide .categoryWrap > img {
      -webkit-transform: translate(-14.4444444444vw, 25vw);
      transform: translate(-14.4444444444vw, 25vw);
      -webkit-transition: all 1.5s;
      -moz-transition: all 1.5s;
      -o-transition: all 1.5s;
      transition: all 1.5s;
      max-width: none;
      width: 81.944444vw;
      /*                 &:hover, &:focus {
                          @include transform(scale(1.2));
                      } */ }
    .category .swiper-slide:nth-child(1) .categoryWrap {
      background-color: #1EFE69; }
      .category .swiper-slide:nth-child(1) .categoryWrap h4 {
        top: 32.333333vw;
        left: 18.444444vw; }
    .category .swiper-slide:nth-child(2) .categoryWrap {
      background-color: #BC00FF; }
      .category .swiper-slide:nth-child(2) .categoryWrap h4 {
        top: 14vw;
        left: 36.5vw; }
    .category .swiper-slide:nth-child(3) .categoryWrap {
      background-color: #0D5743; }
      .category .swiper-slide:nth-child(3) .categoryWrap h4 {
        top: 30.8vw;
        left: 20.111111vw; }
    .category .swiper-slide:nth-child(4) .categoryWrap {
      background-color: #3787D6; }
      .category .swiper-slide:nth-child(4) .categoryWrap h4 {
        top: 22.7vw;
        left: 28.166667vw; }
    .category .swiper-slide:nth-child(5) .categoryWrap {
      background-color: #FF5700; }
      .category .swiper-slide:nth-child(5) .categoryWrap h4 {
        top: 26.5vw;
        left: 40.388889vw; }
    .category .swiper-slide:nth-child(6) .categoryWrap {
      background-color: #E3FF24; }
      .category .swiper-slide:nth-child(6) .categoryWrap h4 {
        top: 15.55555555555556vw;
        left: 52.611111vw; }
  .category .swiper-pagination {
    position: relative;
    bottom: -6.666666666666667vw;
    left: 79.16666666666667vw;
    width: 13.88888888888889vw; }
  .category .swiper-button-next:after, .category .swiper-button-prev:after {
    display: none; }
  .category .swiper-button-prev {
    position: absolute;
    width: 35.83333333333333vw;
    height: 1vw;
    bottom: -13.88888888888889vw;
    left: 6.944444444444444vw;
    padding-top: 62vw; }

.lookbook {
  min-height: 166.6666666666667vw;
  background: #050505;
  color: #fff;
  font-family: HvNenuBdOu;
  font-size: 7.5vw;
  line-height: 1.26;
  /*     .swiper-slide:nth-child(1) {
          background-image: url("../img/main/lookbook_1_1x.png")
        } */
  /*     .swiper-slide:nth-child(2) {
          background-image: url("../img/main/lookbook_2_1x.png")
        } */
  /*     .swiper-slide:nth-child(3) {
          background-image: url("../img/main/lookbook_3_1x.png")
        }
      .swiper-slide:nth-child(4) {
          background-image: url("../img/main/lookbook_4_1x.png")
        } */ }
  .lookbook h3 {
    padding: 5.555555555555556vw 0 2.916666666666667vw; }
  .lookbook .swiper-slide {
    -webkit-background-size: cover;
    background-size: cover;
    background: no-repeat center;
    height: 130vw;
    width: 100vw;
    position: relative;
    /* > img {height: 130vw; width: 100vw;} */ }
    .lookbook .swiper-slide .btnWrap button {
      position: absolute; }
    .lookbook .swiper-slide .btnWrap.fade.on {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .lookbook .swiper-slide .btnWrap .lk_btn1 {
      left: 25vw;
      top: -70.27777777777778vw; }
    .lookbook .swiper-slide .btnWrap .lk_btn2 {
      right: 46vw;
      bottom: 10vw; }
    .lookbook .swiper-slide .btnWrap .lk_btn3 {
      left: 45vw;
      top: 47.444444vw; }
    .lookbook .swiper-slide .btnWrap .lk_btn4 {
      right: 33vw;
      bottom: 34vw; }
    .lookbook .swiper-slide .btnWrap .lk_btn5 {
      left: 35vw;
      top: 53.444444vw; }
    .lookbook .swiper-slide .btnWrap .lk_btn6 {
      right: 26vw;
      bottom: 47vw; }
    .lookbook .swiper-slide .btnWrap .lk_btn7 {
      left: 32vw;
      top: 54.444444vw; }
    .lookbook .swiper-slide .btnWrap .lk_btn8 {
      right: 22vw;
      bottom: 16vw; }
    .lookbook .swiper-slide .popupImg {
      display: none; }
      .lookbook .swiper-slide .popupImg .bgPopup {
        position: absolute;
        width: 43.33333333333333vw;
        height: 54.44444444444444vw;
        background-color: #D9D9D9;
        opacity: 0.8; }
        .lookbook .swiper-slide .popupImg .bgPopup p {
          text-align: center;
          font-size: 2.777777777777778vw;
          line-height: 1.2; }
  .lookbook .swiper-scrollbar {
    position: static;
    height: 0.8333333333333333vw;
    width: 100%;
    z-index: 2500; }
    .lookbook .swiper-scrollbar .swiper-scrollbar-drag {
      height: 2.777777777777778vw;
      background: #1C98D6;
      top: -0.5555555555555556vw; }

.main_banner {
  min-height: 138.8888888888889vw;
  margin-top: 22.22222222222222vw;
  padding: 0 6.25vw 0 6.25vw; }
  .main_banner .banner_wrap {
    text-align: left;
    margin: 0 auto; }
    .main_banner .banner_wrap h3 {
      font-family: HvNenuBlk;
      padding-bottom: 0.4166666666666667vw;
      font-size: 5vw;
      line-height: 0.94; }
    .main_banner .banner_wrap a {
      cursor: pointer; }
      .main_banner .banner_wrap a img {
        width: 100%; }
      .main_banner .banner_wrap a p {
        text-align: left;
        font-weight: 400;
        font-size: 3.055555555555556vw;
        line-height: 1.36;
        padding-top: 2.222222222222222vw; }
      .main_banner .banner_wrap a > p:last-child {
        font-size: 2.5vw;
        padding-top: 1.666666666666667vw;
        line-height: 1.3;
        color: #979797;
        padding-bottom: 7.361111111111111vw; }

.about_visual {
  min-height: 248.6111111111111vw;
  position: relative; }
  .about_visual::before {
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    background-image: url("../img/about/bg1_1x.png"); }
  .about_visual .txtwrap {
    position: fixed;
    text-align: center;
    top: 71.94444444444444vw;
    /* display: none; */ }
    .about_visual .txtwrap h3 {
      font-family: HvNenuCnO;
      font-size: 4.722222222222222vw;
      line-height: 1.3;
      padding-bottom: 9.444444444444444vw; }
    .about_visual .txtwrap strong {
      font-size: 8.333333333333333vw;
      line-height: 1.03;
      font-weight: 700; }
  .about_visual .sub_visual {
    display: block;
    background-color: #000;
    color: #fff;
    height: 118.0555555555556vw;
    width: 100vw;
    top: 425px; }
    .about_visual .sub_visual .txtwrap {
      padding-top: 75.666667vw;
      opacity: 0; }
      .about_visual .sub_visual .txtwrap p {
        font-size: 3.611111111111111vw;
        line-height: 5vw;
        font-weight: 300; }
      .about_visual .sub_visual .txtwrap.on {
        -webkit-transition: opacity 1s 0.2s;
        -moz-transition: opacity 1s 0.2s;
        -o-transition: opacity 1s 0.2s;
        transition: opacity 1s 0.2s;
        opacity: 1; }

/* .sub_visual {
    background-color: #000;color: #fff;
    .txtwrap {
        padding-top: 75.666667vw;opacity: 0;
        p {font-size: 3.611111111111111vw; line-height: 5vw;font-weight: 300;}
        &.on {
            @include transition (opacity 1s 0.2s);
            opacity: 1;
        }
    }
} */
/* 스크롤다운으로 만났을때 about visual txt 정지, p태그 색갈 바꾸기 js */
.bdExaplain p, .anywhere p, .gener p, .lighter p, .forHelinoxer p {
  font-size: 3.333333333333333vw; }

.brandExplain {
  position: relative;
  min-height: 328.6111111111111vw;
  color: #333;
  line-height: 5vw;
  margin-bottom: 8.333333333333333vw; }
  .brandExplain .bdExplain {
    font-family: HvNenuBlk;
    padding-top: 33.33333333333333vw; }
    .brandExplain .bdExplain strong {
      font-size: 13.33333333333333vw;
      display: block;
      padding-bottom: 0.6944444444444444vw; }
      .brandExplain .bdExplain strong::before {
        content: "";
        position: absolute;
        height: 4.7vw;
        width: 1px;
        background-color: #333;
        top: 9.444444444444444vw;
        left: 50%; }
      .brandExplain .bdExplain strong::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 34.44444444444444vw;
        background-color: #333;
        top: 14.16666666666667vw;
        left: 31%; }
    .brandExplain .bdExplain span {
      font-size: 3.888888888888889vw;
      padding-top: 11.94444444444444vw;
      display: inline-block; }
      .brandExplain .bdExplain span.fade.on p {
        -webkit-transform: scale(1.3) 0.3s;
        transform: scale(1.3) 0.3s; }
    .brandExplain .bdExplain span + span {
      padding-left: 24.44444444444444vw; }
    .brandExplain .bdExplain p {
      font-family: aGothic;
      padding-top: 13.33333333333333vw;
      font-size: 3.333333333333333vw;
      font-weight: 500; }
    .brandExplain .bdExplain.fade.on p {
      -webkit-transform: scale(1.3) 0.5s 0.3s;
      transform: scale(1.3) 0.5s 0.3s; }
  .brandExplain .imgWrap {
    position: absolute;
    height: 200vw;
    top: 125vw;
    left: 0; }
    .brandExplain .imgWrap::before {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      content: "";
      position: absolute;
      border: 1px solid #666;
      width: 170px;
      height: 298px;
      top: -5.277777777777778vw;
      left: 9.444444444444444vw; }
    .brandExplain .imgWrap img {
      float: left; }
    .brandExplain .imgWrap img:nth-child(1) {
      padding-left: 4.166666666666667vw;
      position: relative;
      width: 47.22222222222222vw; }
    .brandExplain .imgWrap img:nth-child(2) {
      float: right;
      width: 59.44444444444444vw;
      padding-right: 4.166666666666667vw;
      padding-bottom: 21.66666666666667vw;
      padding-top: 4.166666666666667vw; }
    .brandExplain .imgWrap img:last-child {
      width: 100vw; }

.aboutTxtWrap {
  padding: 0 6.527777777777778vw; }
  .aboutTxtWrap h3 {
    font-family: HvNenuCnO;
    font-size: 4.722222222222222vw;
    line-height: 1.3;
    color: #1C98D6;
    font-weight: 300;
    padding-bottom: 2.222222222222222vw; }
  .aboutTxtWrap strong {
    font-size: 8.333333333333333vw; }
  .aboutTxtWrap p {
    padding-top: 9.444444444444444vw;
    font-size: 3.333333333333333vw; }
  .aboutTxtWrap p + p {
    padding-top: 6.666666666666667vw; }

.aboutImgWrap img {
  width: 100vw;
  padding-top: 35.27777777777778vw; }

.anywhere {
  min-height: 276.6666666666667vw;
  padding: 9.722222222222222vw 0;
  text-align: right; }
  .anywhere.fade.on strong {
    -webkit-transform: scale(1.5) 0.5s;
    transform: scale(1.5) 0.5s; }

.gener {
  min-height: 294.4444444444444vw;
  padding: 9.722222222222222vw 0;
  text-align: left;
  /* position: relative; */ }
  .gener button {
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /* position: absolute; */
    margin-top: 13.88888888888889vw;
    left: 0;
    right: 0;
    align-items: center;
    border: 1px solid #1C98D6;
    text-align: center;
    font-weight: 500;
    font-size: 3.611111111111111vw;
    height: 11.11111111111111vw;
    width: 46.66666666666667vw; }
    .gener button:hover, .gener button:focus {
      background-color: #1C98D6;
      color: #fff; }
  .gener.fade.on strong {
    -webkit-transform: scale(1.5) 0.5s;
    transform: scale(1.5) 0.5s; }

.lighter {
  min-height: 199.1666666666667vw;
  padding: 9.722222222222222vw 0;
  text-align: right; }
  .lighter.fade.on strong {
    -webkit-transform: scale(1.5) 0.5s;
    transform: scale(1.5) 0.5s; }

.forHelinoxer {
  min-height: 75vw;
  padding: 9.722222222222222vw 0;
  text-align: left; }
  .forHelinoxer strong {
    line-height: 1.2; }
  .forHelinoxer.fade.on strong {
    -webkit-transform: scale(1.5) 0.5s;
    transform: scale(1.5) 0.5s; }

.map {
  min-height: 67.5vw;
  padding-top: 35vw;
  text-align: center; }
  .map h3 {
    font-size: 6.111111111111111vw;
    line-height: 1.36; }
  .map p {
    padding-top: 2.5vw;
    font-size: 3.333333333333333vw;
    padding-bottom: 5.277777777777778vw; }
  .map iframe {
    padding-bottom: 34.16666666666667vw; }

/* .products {
    position: relative; min-height: 414.4444444444444vw;
    .subtitle {
        position: absolute; top: 50px; left: 0; right: 0;
        min-height: 106.6666666666667vw;
        &::before {content: ""; position: absolute; background-color: rgba(0,0,0,.55);}
        p {font-weight: 500;font-size: 6.111111111111111vw;color: #fff;text-align: center;}
    }
    #productsWrap {
        ul {float: left; 
            li {width: 10px;}
            > li {
                font-size: 3.888888888888889vw;line-height: 1.6;text-decoration: underline; text-decoration-color: #707070;
            }
        }
        .tabpannel {
            p {float: left;}
            input {float: right;}
            .itemsWrap {
                clear: both;
                img {width: 42.22222222222222vw; height: 49.44444444444444vw;}
                p {line-height: 1.64; font-size: 3.055555555555556vw;font-weight: 300;
                }
            }
        }
    }
} */
.products {
  min-height: 384px;
  position: relative; }
  .products::before {
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
    transition: transform 1.5s ease-in-out;
    background-image: url("../img/products/title_1_1x.png"); }
  .products #productsWrap ul {
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    font-size: 3.888888888888889vw;
    height: 5px; }
    .products #productsWrap ul li {
      float: left;
      /* padding-top: 4.444444444444444vw; */
      position: relative; }
      .products #productsWrap ul li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #000; }
    .products #productsWrap ul li + li {
      padding-right: 5px; }
  .products .tabpannel p {
    float: left; }
  .products .tabpannel input {
    float: right; }
  .products .itemsWrap {
    padding: 0 22.5px; }
    .products .itemsWrap .items p {
      line-height: 1.64;
      font-size: 3.055555555555556vw;
      display: block; }
    .products .itemsWrap .items .imgwrap {
      width: 42.22222222222222vw;
      height: 60.55555555555556vw; }

/*# sourceMappingURL=main.css.map */
