@charset "utf-8";
@import "_mixin";

//전체 공통
.top_visual {
    display: flex; justify-content: center; align-items: center; position: relative; width: 100%; overflow: hidden;
    &::before {
        @include bgsize(cover);
        @include transform(scale(1.3));
        content: "";position: absolute; top: 0; left: 0; width: 100%; height: 100%;background-position: center;
    }
    &.on::before {@include transform(scale(1));}
    .txtwrap {
        position: relative; text-align: left; color: #fff;
        > * {
            @include transition(all 0.3s ease-in-out);
            opacity: 0;
        }
    }
    &.on .txtwrap > * {
        @include transform(translateY(0px));
        opacity: 1;
    }
}
//index:본문1
.main_visual {
    min-height: 166.6666666666667vw; position: relative;
    &::before {
        @include transition(transform 1.5s ease-in-out);
        background-image: url("../img/main/bg1_1x.png");
    }
    .txtwrap {
        left: -20.777778vw; top: -17.777778vw; 
        strong {font-size: 6.666666666666667vw;line-height: 1.3;font-weight: 500;}
    }
    .scrollBtn {
        position:absolute; bottom: 27.77777777777778vw; left: calc(50% - 4.166666666666667vw);
        a { 
            @include border-box;
            padding-top: 16.66666666666667vw;color: #fff;
            span {
                position: absolute; top: 0; left: calc(50% - 4.166666666666667vw); width: 8.333333333333333vw; height: 13.88888888888889vw; margin-left: -4.166666666666667vw; border: 0.5555555555555556vw solid #fff; border-radius: 50px;
                ::before {
                    @include border-box;
                    @include radius(100%);
                    content: ""; position: absolute; top: 2.777777777777778vw; left: 50%; width: 1.666666666666667vw;height: 1.666666666666667vw;margin-left: -0.8333333333333333vw; -webkit-animation: scrollBtn 2s infinite; animation: scrollBtn 2s infinite;
                }
            }

        }
        }
    @-webkit-keyframes scrollBtn {
        0% {
            @include transform(translate(0,0));
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            @include transform(translate(0, 20px));
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    };
    @keyframes scrollBtn {
        0% {
            @include transform(translate(0,0));
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            @include transform(translate(0, 20px));
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    };
}
@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .main_visual::before {background-image: url("../img/main/bg1_2x.png");}
    .lk_slide1::before {background-image: url("../img/main/lookbook_1_2x.png");}
    .lk_slide2::before {background-image: url("../img/main/lookbook_2_2x.png");}
    .lk_slide3::before {background-image: url("../img/main/lookbook_3_2x.png");}
    .lk_slide4::before {background-image: url("../img/main/lookbook_4_2x.png");}
    .about_visual::before {background-image: url("../img/about/bg1_2x.png");}
}

@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .main_visual::before {background-image: url("../img/main/bg1_3x.png");}
    .lk_slide1::before {background-image: url("../img/main/lookbook_1_3x.png");}
    .lk_slide2::before {background-image: url("../img/main/lookbook_2_3x.png");}
    .lk_slide3::before {background-image: url("../img/main/lookbook_3_3x.png");}
    .lk_slide4::before {background-image: url("../img/main/lookbook_4_3x.png");}
    .about_visual::before {background-image: url("../img/about/bg1_3x.png");}
}

//index:본문2
.brandStory {
    min-height: 225.5555555555556vw; position: relative;text-align: center;background: #000;color: #fff;overflow: hidden;
    &::before {content: ""; position: absolute; background-color: rgba(0,0,0,.8);}
    .marqueeWrap, .txtwrap{
        position: absolute;top: 50%;left: 50%; width:75vw;  //수직, 수평 가운데 위치
    }
    .marqueeWrap {
        @include transform(translate(-50%, -50%) rotate(-8deg));
        @include transition(opacity 1s  3s);
        width: 1000%;
        > div:nth-child(2){padding-left: 13.88888888888889vw;}
        .marquee {
            @include animation(scrollMarquee 7s linear infinite);
            position: relative;display: inline-block;line-height: 110px; font-size: 122px; font-family: HvNenuBlk;text-align: left;
            .color {
                @include transition(opacity 1s 2s);
                position: absolute; color: #1C98D6;left: -1.944444444444444vw;top: -1.944444444444444vw;opacity: 0;
            }
        }
    }
    .txtwrap {
        @include transform(translate(-50%, -50%));
        @include transition(opacity 1s 3s);
        opacity: 0;
        h3 {font-size: 6.111111111111111vw;font-weight: 500;line-height: 1.32;}
        p {font-size: 4.444444444444444vw;font-weight: 300;line-height: 1.56;padding: 15.27777777777778vw 0 13.88888888888889vw;}
        .brandBtn {
            @include border-box;
            @include transition(all 0.3s);
            display: inline-block;font-weight: 500;top: 2.777777777777778vw; width: 52.77777777777778vw; height: 12.22222222222222vw;line-height: 12.22222222222222vw; border: 0.2777777777777778vw solid #fff; 
            &:hover, &:active {background-color: #1C98D6; color: #000;border-color: #1C98D6;}
        }
    }
}

.brandStory.on {
    .marqueeWrap {
        opacity: 0.3;
        .marquee .color {opacity: 1;}
    }
    .txtwrap {opacity: 1;}
}

@-webkit-keyframes scrollMarquee { 
    100% {transform: translateX(-100%);}
}

@-o-keyframes scrollMarquee { 
    100% {transform: translateX(-100%);}
}

@keyframes scrollMarquee { 
    100% {transform: translateX(-100%);}
}

//index: 본문3
.bestItem {
    min-height: 166.6666666666667vw;margin-top: 22.22222222222222vw;
    > h3 {font-family: HvNenuBlk;font-size: 6.111111111111111vw;line-height: 7.222222222222222vw;padding-bottom: 3.277777777777778vw;}
    > .swiper-container {
        height: 128.6111111111111vw; margin: 0 -4.166666666666667vw;background-color: #E2E2E2;
        > .swiper-wrapper {
            margin: 0 auto; 
            > .swiper-slide {
                > img {padding-top: 24.38888888888889vw;cursor: pointer;}
                > p {font-size: 3.888888888888889vw; padding: 1.944444444444444vw 0 0;cursor: pointer;}
                > p+p {margin-bottom: 4.166666666666667vw;}
                > a {cursor: pointer;font-family: Helvetica; color: #1C98D6 !important;font-weight: 400;}
            }
            > .swiper-slide-prev, .swiper-slide-next {
                @include transform(scale(0.9));
                opacity: 0.7;
            }
        }
        .swiper-button-next {right: 20px;}
        .swiper-button-prev {left: 20px;}
    }
}
/* 
 */
//index: 본문4
.category {
    position: relative; min-height: 600px; font-family: HvNenuBlk; font-size: 6.111111111111111vw; text-align: left;line-height: 17px;
    > h3 { padding: 0 0 31.5px 23px;}
    .swiper-container {padding-bottom: 70px;}
    .swiper-slide {
        position: relative;width: 69%; padding: 20px 0;
        h4 {
            @include transform(rotate(90deg));
            position: absolute; font-family: HvNenuBdExo; font-size: 54px; line-height: 58px;color: #000; 
        }
        > img {
            @include transform(translate(-52px, 90px));
            @include transition(all 1.5s);
            max-width: none;
            /* &:hover, &:focus {
                @include transform(rotate(360deg));
                @include transform(scale(1.2) rotateZ(360deg));
            } */
        }
    }
    .swiper-slide:nth-child(1) {
      background-color: #1EFE69;
      h4 {top: 120px; left: 52px;}
    }
    .swiper-slide:nth-child(2) {
      background-color: #BC00FF;
      h4 {top: 54px; left: 117px;}
    }
    .swiper-slide:nth-child(3) {
      background-color: #0D5743;
      h4 {top: 115px; left: 58px;}
    }
    .swiper-slide:nth-child(4) {
      background-color: #3787D6;
      h4 {top: 86px; left: 87px;}
    }
    .swiper-slide:nth-child(5) {
      background-color: #FF5700;
      h4 {top: 100px; left: 131px;}
    }
    .swiper-slide:nth-child(6) {
      background-color: #E3FF24;
      h4 {top: 56px; left: 175px;}
    }
    .swiper-pagination {position: relative; bottom: -24px;left: 285px;width: 13.88888888888889vw;}
    .swiper-button-next:after, .swiper-button-prev:after {display: none;}
    .swiper-button-prev {position: absolute; width: 129px;height: 18px;bottom: -13.88888888888889vw; left: 25px;}
}

//index: 본문5
.lookbook {
    min-height: 600px; background: #050505; color: #fff; font-family: HvNenuBdOu;font-size: 27px;line-height: 34px;
    h3 {padding: 20px 0 10.5px;}
    .swiper-slide {
        position: relative;height: 468px; width: 360px;
        button {
            .lk_btn1 {position: absolute; top: 237.5px; left: 112px; }
        }
        
    }
    .swiper-slide:nth-child(1) {
        background-image: url("../img/main/lookbook_1_1x.png")
      }
    .swiper-slide:nth-child(2) {
        background-image: url("../img/main/lookbook_2_1x.png")
      }
    .swiper-slide:nth-child(3) {
        background-image: url("../img/main/lookbook_3_1x.png")
      }
    .swiper-slide:nth-child(4) {
        background-image: url("../img/main/lookbook_4_1x.png")
      }
    .swiper-scrollbar{
        //position: static; position속성을 제거할 경우
        position: static;height: 0.8333333333333333vw;width: 100%;z-index: 2500;
       .swiper-scrollbar-drag{height: 2.777777777777778vw;background: #1C98D6;top: -2px;}
    }
}
//index: 본문 6
.main_banner {
    min-height: 500px; margin-top: 22.22222222222222vw;padding: 0 6.25vw 0 6.25vw; 
    .banner_wrap {
        text-align: left;margin: 0 auto;
        h3 {font-family: HvNenuBlk;padding-bottom: 0.234375vh;font-size: 5vw;line-height: 2.65625vh;}
        a {
            cursor: pointer;
            img {width: 100%;}
            p {text-align: left; font-weight: 400;font-size: 3.055555555555556vw;line-height: 2.34375vh;padding-top: 1.25vh;}
            > p:last-child {font-size: 2.5vw;padding-top: 0.46875vh; line-height: 1.875vh;color: rgb(151,151,151);padding-bottom: 4.140625vh;}
        }
    }
}

//about 본문1
.about_visual {
    min-height: 895px; position: relative;
    &::before {
        @include transition(transform 1.5s ease-in-out);
        background-image: url("../img/about/bg1_1x.png");
    }
    .txtwrap {
        position: fixed; text-align: center;top: 259px; /* display: none; */
        h3 {font-family: HvNenuCnO; font-size: 4.722222222222222vw; line-height: 1.3;padding-bottom: 9.444444444444444vw;}
        strong {font-size: 8.333333333333333vw;line-height: 1.03;font-weight: 700;}
    }
    
}
.sub_visual {
    min-height: 118.0555555555556vw; background-color: #000;color: #fff;
    .txtwrap {
        padding-top: 75.666667vw;opacity: 0;
        p {font-size: 3.611111111111111vw; line-height: 5vw;font-weight: 300;}
        &.on {
            @include transition (opacity 1s 0.2s);
            opacity: 1;
        }
    }
}
/* 스크롤다운으로 만났을때 about visual txt 정지, p태그 색갈 바꾸기 js */
.bdExaplain p, .anywhere p, .gener p, .lighter p, .forHelinoxer p {font-size: 3.333333333333333vw;}
.brandExplain {
    position: relative;min-height: 328.6111111111111vw; color: #333;line-height: 5vw;margin-bottom: 8.333333333333333vw;
    .bdExplain {
        font-family: HvNenuBlk; padding-top: 33.33333333333333vw;
        strong {
            font-size: 13.33333333333333vw; display: block;padding-bottom: 0.6944444444444444vw; 
            &::before {
                content: ""; position: absolute; height: 4.166666666666667vw;width: 1px;background-color: #333;top: 9.444444444444444vw; left: 50%;}
            &::after {

                content: ""; position: absolute; height: 1px;width: 34.44444444444444vw;background-color: #333;top: 14.16666666666667vw; left: 31%;
            }
        }
        span {
            font-size: 3.888888888888889vw;padding-top: 11.94444444444444vw;display: inline-block;
            &.fade.on {
                p {@include transform(scale(1.3) 0.3s);}
            }
        }
        span + span {padding-left: 24.44444444444444vw;}
        p {font-family: aGothic; padding-top: 13.33333333333333vw;font-size: 3.333333333333333vw;font-weight: 500;}
        &.fade.on {
            p {@include transform(scale(1.3) 0.5s);}
        }
    }
    .imgWrap {
        position: absolute; height: 200vw;top:125vw;left:0;
        img {float: left;}
        img:nth-child(1) {
            padding-left: 4.166666666666667vw;position: relative; width: 47.22222222222222vw;
            &::before {content:""; position:absolute; border: 1px solid #666;}
        }
        img:nth-child(2) {float: right;width: 59.44444444444444vw;padding-right: 4.166666666666667vw;padding-bottom: 21.66666666666667vw;padding-top: 4.166666666666667vw; }
        img:last-child {width: 100vw;}
    }
}
//본문3~5 공통
.aboutTxtWrap {
    padding: 0 6.527777777777778vw;
    h3 {font-family: HvNenuCnO;font-size: 4.722222222222222vw;line-height: 1.3;color: #1C98D6;font-weight: 300;padding-bottom: 2.222222222222222vw;}
    strong {font-size: 8.333333333333333vw;}
    p {padding-top: 9.444444444444444vw;font-size: 3.333333333333333vw;}
    p + p {padding-top: 6.666666666666667vw;}   
}
.aboutImgWrap {
    img {width: 100vw;padding-top: 35.27777777777778vw;}
}

//본문3
.anywhere {
    min-height: 276.6666666666667vw; padding: 9.722222222222222vw 0; text-align: right;
}

//본문4
.gener {
    min-height: 294.4444444444444vw;padding: 9.722222222222222vw 0;text-align: left;/* position: relative; */
    button {
        @include radius(17px);
        /* position: absolute; */margin-top: 13.88888888888889vw;left: 0; right: 0;
        border: 1px solid #1C98D6;text-align: center;font-weight: 500;font-size: 3.611111111111111vw;height: 11.11111111111111vw;width: 46.66666666666667vw;
    }
}

//본문5
.lighter {
    min-height: 199.1666666666667vw;padding: 9.722222222222222vw 0;text-align: right;
}

//본문6
.forHelinoxer {
    min-height: 75vw;padding: 9.722222222222222vw 0;text-align: left;
    strong {line-height: 1.2;}
}

//지도
.map {
    min-height: 67.5vw;padding-top: 35vw;text-align: center;
    h3 {font-size: 6.111111111111111vw;line-height: 1.36;}
    p {padding-top: 2.5vw;font-size: 3.333333333333333vw;padding-bottom: 5.277777777777778vw;}
    iframe {padding-bottom: 34.16666666666667vw;}
}