@charset "utf-8";
@import "_mixin";

//전체 공통
.top_visual {
    display: flex; justify-content: center; align-items: center; position: relative; width: 100%; overflow: hidden;
    &::before {
        @include bgsize(cover);
        @include transform(scale(1.3));
        content: "";position: absolute; top: 0; left: 0; width: 100%; height: 100%;background-position: center;
    }
    &.on::before {@include transform(scale(1));}
    .txtwrap {
        position: relative; text-align: left; color: #fff;
        > * {
            @include transition(all 0.3s ease-in-out);
            opacity: 0;
        }
    }
    &.on .txtwrap > * {
        @include transform(translateY(0px));
        opacity: 1;
    }
}
//index:본문1
.main_visual {
    min-height: 600px; 
    &::before {
        @include transition(transform 1.5s ease-in-out);
        background-image: url("../img/main/bg1_1x.png");
    }
    .txtwrap {
        left: -20.5%; top: -7.8125vh;
        strong {font-size: 6.666666666666667vw;line-height: 4.84375vh;font-weight: 500;}
        /* .go_btm {
            position: absolute; bottom: 50px; left: 50%;
            @include radius(8px);
            @include transition(all 0.3s);
            @include traDelay (0.5s);
            /* width: 100%;height: 4px;background: #fff;left: 0;
            .line-left {width: 5px;height: 2px;}
            .line-right {width: 5px;height: 2px;}
            &.active {
                .go_btm {background: #000;}
                .line_left {
                    @include transform(rotate (45deg));
                }
                .line-right {@include transform(rotate (-45deg));}
            }
        } */
    }
}
@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .main_visual::before {background-image: url("../img/main/bg1_2x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .main_visual::before {background-image: url("../img/main/bg1_3x.png");}
}

//index:본문2
.brandStory {
    min-height: 700px; position: relative;text-align: center;background: #000;color: #fff;overflow: hidden;
    &::before {content: ""; position: absolute; background-color: rgba(0,0,0,.8);}
    .marqueeWrap {
        @include transform(rotate(-8deg));padding-top: 150px;
        width: 200%;position: absolute;
        .marquee {
            line-height: 110px; font-size: 122px; font-family: HvNenuBlk;
            & .third {position:relative; }
            span {position: absolute; color: #1C98D6;left: 686px;top: 228px;}
        }
    }
    .txtwrap {
        position: absolute; left: calc(50% - 119px); top: 200px;
        h3 {font-size: 22px;font-weight: 500;line-height: 29px;}
        p {font-size: 16px;font-weight: 300;line-height: 25px;padding: 55px 0 50px;}
        .brandBtn {
            @include border-box;
            @include transition(all 0.3s);
            display: inline-block;font-weight: 500;top: 10px; width: 190px; height: 44px;line-height: 44px; border: 1px solid #fff; 
            &:hover, &:active {background-color: #1C98D6; color: #000;border-color: #1C98D6;}
        }
    }
}

//index: 본문3
.bestItem {
    min-height: 600px;margin-top: 80px;
    > h3 {font-family: HvNenuBlk;font-size: 6.111111111111111vw;line-height: 7.222222222222222vw;padding-bottom: 11.8px;}
    > .swiper-container {
        height: 463px; margin: 0 -15px;background-color: #E2E2E2;
        > .swiper-wrapper {
            margin: 0 auto; 
            > .swiper-slide {
                @include transition(transform 0.5s);
                width: 80%; 
                /* display: table; */
                > img {/* width: 73.61111111111111vw; */padding-top: 9.375vh;cursor: pointer;}
                /* > img {display: table-cell;vertical-align: middle;} */
                > p {font-size: 14px; padding: 7px 0 0;cursor: pointer;}
                > p+p {margin-bottom: 15px;}
                > a {cursor: pointer;font-family: Helvetica; color: #1C98D6 !important;font-weight: 400;}
            }
            > .swiper-slide-prev, .swiper-slide-next {
                @include transform(scale(0.9));
                opacity: 0.7;
            }
            .swiper-slide-prev {transform-origin: right center;padding-right: 10px;}
            .swiper-slide-next {transform-origin: left center;padding-left: 10px;}
            .swiper-button-prev:after{padding-left: 10px;}
            .swiper-button-next:after{padding-right: 10px;}
        }
    }
}
/* 
 */
//index: 본문4
.category {
    position: relative; min-height: 600px; font-family: HvNenuBlk; font-size: 6.111111111111111vw; text-align: left;line-height: 17px;
    > h3 { padding: 0 0 31.5px 23px;}
    .swiper-slide {
        position: relative;height: 405px; width: 255px;margin: 0 60px 0 35px; 
        h4 {
            @include transform(rotate(90deg));
            position: absolute; font-family: HvNenuBdExo; font-size: 54px; line-height: 58px;color: #000; 
        }
        > img {
            @include transition(all 1.5s);
            position: absolute; top: 145px; left: -40px;max-width: none;
            &:hover, &:focus {
                /* @include transform(rotate(360deg)); */
                @include transform(scale(1) rotateZ(360deg));
            }
        }
    }
    .swiper-slide:nth-child(1) {
      background-color: #1EFE69;
      h4 {top: 120px; left: 58px;}

    }
    .swiper-slide:nth-child(2) {
      background-color: #BC00FF;
      h4 {top: 54px; left: 123px;}
    }
    .swiper-slide:nth-child(3) {
      background-color: #0D5743;
      h4 {top: 115px; left: 65px;}
    }
    .swiper-slide:nth-child(4) {
      background-color: #3787D6;
      h4 {top: 86px; left: 92px;}
    }
    .swiper-slide:nth-child(5) {
      background-color: #FF5700;
      h4 {top: 100px; left: 140px;}
    }
    .swiper-slide:nth-child(6) {
      background-color: #E3FF24;
      h4 {top: 56px; left: 183px;}
    }
    .swiper-button-prev,
    .swiper-button-next {display: none;}
    .swiper-pagination {position: absolute; bottom: 0;left: 140px;width: 100%;}
}

//index: 본문5
.lookbook {
    min-height: 600px; background: #050505; color: #fff; font-family: HvNenuBdOu;font-size: 27px;line-height: 34px;
    h3 {padding: 20px 0 10.5px;}
    .swiper-slide {
        position: relative;height: 468px; width: 360px;
        button {
            .lk_btn1 {position: absolute; top: 237.5px; left: 112px; }
        }
        
    }
    .swiper-slide:nth-child(1) {
        background-image: url("../img/main/lookbook_1_1x.png")
      }
    .swiper-slide:nth-child(2) {
        background-image: url("../img/main/lookbook_2_1x.png")
      }
    .swiper-slide:nth-child(3) {
        background-image: url("../img/main/lookbook_3_1x.png")
      }
    .swiper-slide:nth-child(4) {
        background-image: url("../img/main/lookbook_4_1x.png")
      }
    .swiper-scrollbar{
        //position: static; position속성을 제거할 경우
        position: static;height: 3px;width: 100%;z-index: 2500;
       .swiper-scrollbar-drag{height: 10px;background: #1C98D6;top: -2px;}
    }
}
@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .lk_slide1::before {background-image: url("../img/main/lookbook_1_2x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .lk_slide1::before {background-image: url("../img/main/lookbook_1_3x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .lk_slide2::before {background-image: url("../img/main/lookbook_2_2x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .lk_slide2::before {background-image: url("../img/main/lookbook_2_3x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .lk_slide3::before {background-image: url("../img/main/lookbook_3_2x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .lk_slide3::before {background-image: url("../img/main/lookbook_3_3x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .lk_slide4::before {background-image: url("../img/main/lookbook_4_2x.png");}
}
@media 
screen and (-webkit-min-device-pixel-ratio: 3),
screen and (min-resolution: 288dpi),
screen and (min-resolution: 3dppx) {
    .lk_slide4::before {background-image: url("../img/main/lookbook_4_3x.png");}
}

//index: 본문 6
.main_banner {
    min-height: 500px; text-align: left; margin-top: 80px;padding: 0 6.25vh 0 6.25vh;
    .banner_wrap {cursor: pointer;}
    h3 {font-family: HvNenuBlk;padding-bottom: 1.5px;}
    a {
        p {font-weight: 400;font-size: 11px;line-height: 15px;padding-top: 8px;}
        > p:last-child {font-size: 9px;padding-top: 3px; line-height: 12px;color: rgb(151,151,151);padding-bottom: 26.5px;}
    }
}